<%- include ('partials/header') %>

<div>
  <img src = "/images/home1.png" class="img-fluid" style="width:1500px; height:300px;" alt="Home collection"/><br/><br/>
  <h3 style="text-align: center;">BB Eternity</h3>
  <p style="margin: 4%;">BB Eternity is your go-to place for gifts & goodies that surprise & delight. From fresh fragrances to soothing skin care, we make finding your perfect something special a happy-memory-making experience. 
    Searching for new seasonal creations or your favorite discontinued scents? We’ve got you covered there, too. Oh! And while you're browsing, shop our latest & greatest selection of lotions, soaps and lip balms!</p>
  <form action="/products" method="GET" style="text-align: center;">
    <button type="submit" class="btn btn-secondary">Explore Products</button>
  </form>
</div><br/>

<%- include ('partials/footer') %>
