<%- include ('partials/header') %>

<div class="container"><br/>
  <h4> Our Privacy Policy</h4>
  <p>This Policy was last updated on November 22, 2021.<br>
BB Eternity, respect your concerns about privacy. This Online Privacy Policy ("Policy") explains what personal information we collect through our websites and online services, how we use that information, to whom we disclose it, and how we safeguard personal information. Unless indicated otherwise, this Policy applies only to personal information collected through the websites, microsites, mobile applications, and other online services of the BB Eternity brand and lines of business that expressly adopt, display or link to this Policy, and then only to the extent indicated (collectively, the "Services").</p>
</div><br/>

<%- include ('partials/footer') %>
