<%- include ('partials/header') %>

<div class="container"><br/>
<h4>Terms of Use</h4><hr/>
<p>Last Updated: November 22, 2021<br>

IMPORTANT LEGAL INFORMATION: PLEASE READ THIS ENTIRE AGREEMENT CAREFULLY. IT SETS FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE SERVICE AND THE PRODUCTS AND SERVICES AVAILABLE FOR SALE THROUGH THE SERVICE.<br>

THESE TERMS REQUIRE YOU TO ARBITRATE ANY DISPUTES YOU HAVE WITH US AND YOU WAIVE THE ABILITY TO BRING CLAIMS AGAINST US IN COURT, TO HAVE ANY DISPUTE HEARD BY A JUDGE OR JURY, OR TO BRING ANY CLAIMS AGAINST US IN A CLASS ACTION FORMAT.<br>
</p>
<h4>Overview</h4><hr/>
<p>Welcome! The following Terms of Use (“Terms”) apply to all visitors or users of our Bath & Body Works websites, microsites, and mobile websites (each, a “Site”) our mobile applications (each, an “App”) and your use of interactive features, widgets, plug-ins, content, downloads and/or other online services that we own and control and that post a link to these Terms (collectively with each Site and each App, the “Service”). The Service is made available by BB Eternity.<br>

If you want to access or use the Service, then carefully read these entire Terms (including all links to details), as they constitute a written agreement between you and us and they affect your legal rights and obligations. Each time you access and/or use the Service (other than to simply read these Terms), you agree to be bound by and comply with these Terms and any Additional Terms (defined below) then posted. Therefore, do not use the Service if you do not agree. In the event of a violation of these Terms, we reserve the right to seek all remedies available by law and in equity.<br>

The business realities associated with operating the Service are such that, without the limitations that are set forth in these Terms, such as your grants and waivers of rights, the limitations on our liability, your indemnity of us, and the arbitration of certain disputes – we would not make the Service available to you.<br>

By accessing and/or using the Service, you agree to be bound by these Terms. In some instances, both these Terms and separate guidelines, rules, or terms of use or sale setting forth additional or different terms and/or conditions will apply to your use of the Service or to a service or product offered via the Service such as if you join our loyalty program (which may only be available in select markets), you agree to our loyalty program terms that will apply (in each such instance, and collectively “Additional Terms”). To the extent there is a conflict between these Terms and any Additional Terms, the Additional Terms will control unless the Additional Terms expressly state otherwise.
</p>
</div><br/>

<%- include ('partials/footer') %>
